@layer components {
  .slideshow {
    .swiper-pagination {
      @apply absolute bottom-[calc(var(--container-gutter)*2)] z-10 flex gap-2;
      @apply right-[max(var(--container-gutter),50%-var(--container-max-width)/2)];

      .swiper-pagination-bullet {
        @apply h-4 w-4 rounded-full bg-secondary-bg opacity-30 transition-opacity duration-300 ease-in-out;

        &.swiper-pagination-bullet-active {
          @apply opacity-100;
        }
      }
    }

    &--slide {
      @apply relative grid gap-[var(--container-gutter)] lg:gap-[calc(var(--container-gutter)*2)];

      grid-template:
        0 minmax(0, 1fr) 0 / minmax(0, 1fr) minmax(0, min(var(--container-max-width), 100%))
        minmax(0, 1fr);

      &::before {
        @apply pointer-events-none absolute inset-0 z-10 bg-[rgba(var(--overlay-color))] content-[''];
      }

      &.fullscreen {
        img {
          @apply h-full w-full object-cover;
        }

        svg {
          @apply h-full w-full object-cover;
        }
      }
    }

    &--content {
      @apply z-20;

      grid-area: 2 / 2 / auto / span 1;

      &.position {
        &-start {
          &-start {
            @apply self-start justify-self-start text-start;

            .btn-group {
              @apply mr-auto;
            }
          }

          &-center {
            @apply self-start justify-self-center text-center;

            .btn-group {
              @apply mx-auto;
            }
          }

          &-end {
            @apply self-start justify-self-end text-end;

            .btn-group {
              @apply ml-auto;
            }
          }
        }

        &-center {
          &-start {
            @apply self-center justify-self-start text-start;

            .btn-group {
              @apply mr-auto;
            }
          }

          &-center {
            @apply self-center justify-self-center text-center;

            .btn-group {
              @apply mx-auto;
            }
          }

          &-end {
            @apply self-center justify-self-end text-end;

            .btn-group {
              @apply ml-auto;
            }
          }
        }

        &-end {
          &-start {
            @apply self-end justify-self-start text-start;

            .btn-group {
              @apply mr-auto;
            }
          }

          &-center {
            @apply self-end justify-self-center text-center;

            .btn-group {
              @apply mx-auto;
            }
          }

          &-end {
            @apply self-end justify-self-end text-end;

            .btn-group {
              @apply ml-auto;
            }
          }
        }
      }
    }

    &--image {
      grid-area: 1 / 1 / span 3 / span 3;
    }
  }
}
