{% assign wordCount = article.content
  | append: article.title
  | append: article.excerpt
  | split: ' '
  | size
%}

{% assign readTime = wordCount | divided_by: 200 | ceil %}

{% if readTime == 0 %}
  {% assign readTime = 1 %}
{% endif %}

{{ article.excerpt }}

<ul class="article__info">
  {% if show_author %}
    <li>{{ article.author }}</li>
  {% endif %}

  {% if show_date %}
    <li>{{ article.published_at | date: format: 'date' }}</li>
  {% endif %}

  <li>{{ 'blog.article.read_time_label' | t: minutes: readTime }}</li>
</ul>
