{%- form 'storefront_password', class: 'password-form' -%}
  {%- if form.errors -%}
    <p>{{ 'general.password_page.wrong_password_text' | t }}</p>
  {%- endif -%}

  <input
    type="password"
    name="password"
    id="Password"
    autocomplete="current-password"
    placeholder="{{ 'general.password_page.enter_password_placeholder' | t }}"
  >

  <button name="commit">{{ 'general.password_page.submit_button_label' | t }}</button>
{%- endform -%}
