<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {%- liquid
      render 'theme-metadata'
      render 'theme-microdata'
      render 'theme-seo'
      render 'theme-variables'
      render 'theme-colors'
      render 'theme-assets'
      render 'theme-events'
    -%}

    {{ content_for_header }}
  </head>

  <body class="color-scheme__background-1 bg-primary-bg">
    <main role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>
